# Django
SECRET_KEY=django-insecure-g839q+y#rv5jgy5cjwx*e&*r1g_g@=3%m4etz^qn41oqx9l!^#
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=ZjWLCQmPyGEcGfXzZvEGkMmflrhfODwv
DB_HOST=switchyard.proxy.rlwy.net
DB_PORT=36076

# Cloudinary
CLOUDINARY_NAME=dfgevomxd
CLOUDINARY_API_KEY=346574959959881
CLOUDINARY_API_SECRET=itha-eccTirY5BcybsNx_wh5dPM
